<div class="content">
  <div class="header">
    <h2>{{title}}</h2>
  </div>
  <div class="search_bar">
    <div class="search_entry">
      <label>
        Food Preference:
        <input type="text" class="search_recipe_input" [(ngModel)]="recipe" (keyup.enter)="search()">
        <input type="button" class="search_button" (click)="search()" value="Search.">
      </label>
    </div>
    <div class="search_results">
      <table class="results_table">
        <tr class="table_head">

        </tr>
        <tr class="result" *ngFor="let hit of hits">
          <td>
            <img src="{{hit.recipe.image}}" width="100px">
          </td>
          <td>
            {{hit.recipe.label}}
          </td>
          <td>
            {{hit.recipe.calories | number: '1.0-0'}} Calories
          </td>
          <td>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<route--outlet></route--outlet>
